.portfolioHeader{
  display: flex;
  height:10%;
  width:100%;
  box-sizing: border-box;
  border:3px solid;
  background-color: coral;
}

.portfolioHeaderName{
  width: fit-content;
  margin-right: auto;
  background-color: red;
}

.portfolioHeaderLinks{
  display: flex;
  width: 60%;
  gap: 5%;
  background-color: blue;
  border:3px solid;
  justify-content: flex-end;
}

.portfolioIntro{
  background-color: green;
  border:3px solid;
}

.portfolioImage{
  background-color: orange;
  border:3px solid;
}

html, body
{
    margin: 0;
    padding: 0.7% 6% 0%;
}