.column1{
  flex: 2 1 0;
  box-sizing: border-box;
  border:3px solid;
  background-color: purple;
}

.column2{
  flex: 1 1 0;
  box-sizing: border-box;
  border:3px solid;
  background-color: coral;
}

.portfolioHeaderName{
  width: fit-content;
  margin-right: auto;
}

.portfolioHeaderLinks{
  display: flex;
  width: 60%;
  gap: 5%;
  justify-content: flex-end;
  /*
  background-color: blue;
  border:3px solid;
  */
}

.portfolioIntro{
  
}

.portfolioImage{
  /*
  background-color: orange;
  border:3px solid;
  */
}

.box{
  display: flex;
  /*
  background-color: red;
  border: 3px solid;
  */
}

html, body
{
    margin: 0;
    padding: 0.7% 6% 0%;
}