.box{
  display: grid;
  grid-template-columns: 60% 40%;
  row-gap: 20%;
  /*
  background-color: red;
  border: 3px solid;
  */
}

.portfolioHeaderName{
  width: fit-content;
  margin-right: auto;
  grid-row: 1;
  /*
  background-color: red;
  border:3px solid;
  */
}

.portfolioHeaderLinks{
  display: flex;
  width: 60%;
  gap: 5%;
  grid-row: 1;
  /*
  background-color: blue;
  border:3px solid;
  */
}

.portfolioIntro{
  grid-row: 2;
  background-color: green;
  border:3px solid;
}

.portfolioImage{
  grid-row: 2;
  /*
  background-color: indigo;
  border:3px solid;
  */
}

.headshotImage{
  border-radius: 5%;
  /*TODO: Change width/height to use % */
  width:132.05px;
  height:201.6px;
}

html, body
{
    margin: 0;
    padding: 0.7% 6% 0%;
}