.box{
  display: grid;
  grid-template-columns: 60% 40%;
  row-gap: 20%;
  /*
  background-color: red;
  border: 3px solid;
  */
}

.portfolioHeaderName{
  width: fit-content;
  margin-right: auto;
  grid-row: 1;
  /*
  background-color: red;
  border:3px solid;
  */
}

.portfolioHeaderLinks{
  display: flex;
  width: 60%;
  gap: 12%;
  grid-row: 1;
  /*
  background-color: blue;
  border:3px solid;
  */
}

.portfolioIntro{
  grid-row: 2;
  /*
  background-color: green;
  border:3px solid;
  */
}

.portfolioIntroLinks{
  display: flex;
  gap: 8%;
}

.githubStyle{
  width: 140%;
  height: 100%;
  padding: 5%;
  text-align: center;
  box-sizing: border-box;
  background-color: lightgray;
  border:1px solid;
  border-color: gray;
  border-radius: 5%;
}

.LinkedinStyle{
  width: 140%;
  height: 100%;
  padding: 5%;
  text-align: center;
  box-sizing: border-box;
  background-color: black;
  border:1px solid;
  border-color: black;
  border-radius: 5%;
}

.portfolioImage{
  grid-row: 2;
  /*
  background-color: indigo;
  border:3px solid;
  */
}

.headshotImage{
  border-radius: 5%;
  /*TODO: Change width/height to use % */
  width:132.05px;
  height:201.6px;
}

html * {
  /* TODO: Change font*/
  font-family: Nunito, sans-serif;
}

html, body{
    margin: 0;
    padding: 0.7% 6% 0%;
}

header{
  margin: 0;
  padding: 0%;
}

h1 {
  margin-top: 0;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}